[submodule "src/flannel"]
	path = src/flannel
	url = https://github.com/coreos/flannel.git
[submodule "src/etcd-release"]
	path = src/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release.git
[submodule "src/k8s.io/kubernetes"]
	path = src/k8s.io/kubernetes
	url = https://github.com/kubernetes/kubernetes
